$white: #ffffff;
$black: rgb(0, 0, 0);
$primary-color1: #ff7f50;
$primary-color2: #76e8e8;
$light-bg: #fdff8f;
$modal-bg1: rgb(0, 0, 0);
$modal-bg2: rgba(0, 0, 0, 0.4);

@mixin absolute($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin height-width($height, $width) {
	height: $height;
	width: $width;
}
