/* header */

#header {
	color: $white;
	font-size: 1.2rem;
	max-height: 125px;
	align-items: center;
	padding: 0rem 2rem;
	position: relative;
}

#logo {
	max-width: 90px;
	max-height: 90px;
	margin: 1rem 0rem;
}

#user-info {
	max-width: 50px;
	max-height: 50px;
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 1rem;
	transition: 0.2s;
	cursor: pointer;
}

#logo > img,
#user-info > img {
	max-width: 100%;
	height: auto;
}

/* navigation */
#navbar {
	color: $white;
	font-size: 1.2rem;
	@include absolute(20px, 20%);
	border-radius: 20px;
	padding: 0.5rem 0rem;
	z-index: 1;
}

#navbar ul {
	list-style: none;
	margin: 0;
}

#navbar ul > li {
	display: inline-block;
	margin: 1rem;
	padding: 0rem 0.2rem;
	text-align: center;
	border-radius: 10px;
	transition: 0.2s;
	cursor: pointer;
}

#navbar ul a {
	text-decoration: none;
	color: $white;
}

#navbar ul > li:hover {
	background-color: $primary-color1;
	transform: scale(1.1);
}

#burger-icon {
	color: $white;
	display: none;
	font-size: 2rem;
	margin: auto;
	margin-bottom: 2.8rem;
	@include absolute(45px, 40%);
	transform: 0.2s;
	cursor: pointer;
	transition: 0.2s;
}

@media only screen and (max-width: 768px) {
	#navbar {
		left: 33%;
		top: 125px;
	}

	#burger-icon {
		display: block;
	}

	#navbar ul li {
		display: block;
	}
}

/* shopping cart */

#cart > div {
	padding: 0.5rem 1rem;
}

#count {
	padding-right: 0.5rem;
	border-right: 1px solid $white;
}

#cartIcon {
	transition: 0.2s;
	cursor: pointer;
}

#cartIcon:hover,
#burger-icon:hover,
#user-info:hover {
	transform: scale(1.2);
}
