#modal {
	@include absolute(0, 0);
	@include height-width(100%, 100%);
	z-index: 5;
	overflow: hidden;
	background-color: $modal-bg1;
	background-color: $modal-bg2;
	display: none;
}

#modal-content {
	display: none;
	position: fixed;
	background-color: $primary-color2;
	margin: 5% auto;
	width: 40%;
	overflow: hidden;
	max-height: 600px;
	border-radius: 20px;
	left: 30%;
}

@media only screen and (max-width: 768px) {
	#modal-content {
		width: 60%;
		left: 20%;
	}
}

@media only screen and (max-width: 768px) {
	#modal-content {
		width: 60%;
		left: 20%;
	}
}

@media only screen and (max-width: 576px) {
	#modal-content {
		width: 80%;
		left: 10%;
	}
}

.form-group {
	position: relative;
}

.form-group > input {
	padding-left: 3rem;
	padding-top: 0.5rem;
}

.login-symbol {
	@include absolute(2.5px, 5px);
	@include height-width(38px, 38px);
}

.login-symbol > i,
.register-symbol > i,
.inline-symbol > i {
	font-size: 2rem;
}

.register-symbol {
	@include absolute(37.5px, 10px);
}

.inline-symbol {
	@include absolute(3px, 20px);
}

#login-form a {
	text-decoration: none;
	color: $dark;
	padding: 0rem 0.5rem;
	padding-top: 0.4rem;
	border-radius: 20px;
}

#login-form a:hover {
	background-color: $primary-color1;
	color: $light;
}

label {
	font-size: 1.1rem;
	font-weight: bold;
}

.radios {
	padding-left: 15px;
}
