#edit-form {
	position: relative;
	label {
		padding-top: 0.3rem;
	}

	input[type="file"] {
		opacity: 0;
		@include height-width(100%, 100%);
		@include absolute(0, 0);
		transition: 0.5s;
		cursor: pointer;
	}

	#profile-pic {
		@include animate(drop, 0.5s);
		@include min-height-width(300px, 350px);
		transition: 0.2s;
		margin-bottom: 5rem;
		img {
			width: 100%;
			height: 100%;
		}
	}

	#profile-pic:hover {
		transform: scale(1.1);
	}

	.form-group {
		position: relative;
	}

	input {
		padding-left: 1rem;
	}
}
